/* EyeEm Styleguide Primary Colors */
$eyeem-white: #FFFFFF;
$eyeem-darkgray: #333333;
$eyeem-black: #2B2B2B;
$eyeem-lightgray: #888888;

$eyeem-darkgrey: $eyeem-darkgray;
$eyeem-lightgrey: $eyeem-lightgray;

/* EyeEm Stylguide Primary Colors: Tag Colors */
$eyeem-tags-violet: #6629CA;
$eyeem-tags-green: #97CA00;

/* EyeEm Stylguide Primary Colors: Buttons/Icons */
$eyeem-buttonsicons-red: #993333;
$eyeem-buttonsicons-green: #4d7c4d;
$eyeem-buttonsicons-grey: #666666;
$eyeem-buttonsicons-white: #E6E6E6;

$eyeem-buttonsicons-gray: $eyeem-buttonsicons-grey;

/* EyeEm Styleguide Accentual Colors: */
$eyeem-accentualcolor-blue: #72A0FD;
$eyeem-accentualcolor-red: #FD3644;
$eyeem-accentualcolor-yellow: #FEED9C;
$eyeem-accentualcolor-rosy:  #F19CFE;
$eyeem-accentualcolor-green:  #89F38C;
$eyeem-accentualcolor-purple:  #B39CFE;